header{
	   text-align: center;
	   margin: auto;
      }  

.element{
	     margin: 15px 1px;

        }

.block{
	   background: #e0e0eb;
	   margin: 20px 0px;
	   font-size: 20px;
      }
.background{
			background: #e6e6e6;
           }